/* Header.css */
.header {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    text-align: center;
    margin-top: 22px; /* Center-align the contents */
}

.header .logo {
    display: inline-block;
    padding: 10px 0;
    margin-right: 250px;
}

.header .logo img {
    display: inline-block;
    vertical-align: middle;
}

.header nav {
    display: inline-block; /* Aligns the nav next to the logo */
}

.header nav a {
    text-decoration: none;
    color: #333;
    padding: 20px;
    display: inline-block; /* Aligns links in a row */
    transition: background-color 0.3s ease; /* Transition for background color */
}

.header nav a.active {
    background-color: #C28F30; /* Background color for active link */
    color: #fff; /* Text color for active link */
    border-radius: 5px; /* Optional: rounds corners of active link */
}

/* Clearfix to contain floated elements */
.header::after {
    content: "";
    clear: both;
    display: table;
}

.book-now-container {
  position: relative;
  left: 80px;
}
.header .book-now-container .book-now {
    background-color: #000000; /* A distinct color for the button */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* Removes underline from links */
    text-transform: uppercase; /* Optional: makes the text uppercase */
    font-weight: bold; /* Optional: makes the font bold */
}

.header .book-now-container .book-now:hover {
    background-color: #e68a00; /* Darker shade for hover state */
}

@media (max-width: 768px) {
    .header .logo,
    .header nav {
        display: block; /* Stack the logo and nav on smaller screens */
        margin-right: 0;
    }

    .header nav a {
        padding: 10px;
        display: block; /* Stack the links on smaller screens */
    }
}
